body {
    margin: 0;
    
}

.container {
    background: #1B244A;
    margin: 100px;
    display: flex;
    justify-content: space-around;
    padding:auto;
    
}

h3{
    font-family: 'Verdana';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 36px;
    text-align: center;
    color: #EEEEEE;
    margin-top: 75px;
    margin-bottom: 25px;
}

p
{
    font-family: 'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 90px;
    line-height: 127px;
    text-align: center;
    color: #F94F6D;
    background: #080001;
    border-radius: 5px; 
    margin: 0;
}

button
{
    background: #1B244A;
    font-family:'Cursed Timer ULiL';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    text-align: center;
    color: #9AABD8;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 25px;
    margin-bottom: 75px;
}